<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Digital Fridge | Food Inventory Web Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css"
    integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/splash.css">
  <link rel="stylesheet" type="text/css" media="screen" href="/styles/shopping.css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/js/bootstrap.min.js"
    integrity="sha384-7aThvCh9TypR7fIc2HV4O/nFMVCBwyIUKL8XCtKE+8xgCgl/PQGuFsvShjr74PBp"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="/js/custom.js"></script>
</head>

<body>
  <div class="navbar bg-black w-100 fixed-top" style="z-index: 999;">
    <a class="navbar-brand mx-auto mx-sm-0" href="../../" ><img src="/images/banner.png" alt="Digital Fridge" height="50px"/></a>
    <span class="mx-auto mx-sm-0 p-0">
      <button type="button" id="goToShoppinglist" class="btn btn-sm btn-primary mr-2"
        data-id="{{userid}}"><i class="fa fa-list mr-2"></i>Go to Shopping List</button>
      <button type="button" id="logOutBtn" class="btn btn-sm btn-danger"><i class="fa fa-sign-out mr-2"></i>Log
        Out</button>
    </span>
  </div>
  <br>
  <div class="container mb-5" style="margin-top: 100px">
    <h2 class="text-white mt-5 mb-0"> Inventory List for {{username}}</h2>
    <br>
    <table id="ingredientTable" class="bg-white overflow-hidden rounded table table-bordered table-responsive-xs">
    <thead>
    <tbody>
        <tr data-id="{{this.id}}"></tr>
          <th scope="col"style="text-align: center;">Item Name</th>
          <th scope="col"style="text-align: center; width: 15%;">Quantity Owned</th>
          <th scope="col" style="text-align:center; width: 1em;"><i class="fa fa-times"></i></th>
        </tr>
      </thead>
      <tbody>
        {{#each ingredient}}
        <tr data-id="{{this.id}}">
          <td style="text-transform: capitalize;">{{ name }}</td>
          <td style="text-align: center;">{{ quantityOwned }}</td>
        <td scope="row" style="text-align: center;width: 1em;"><button type="button" class="btn btn-sm btn-danger deleteBtn" style="text-align: center; line-height: 1;" data-id="{{this.id}}"><i class="fa fa-times"></i></button></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div id="addItem">
    <a id="addItemLink">
        <i class="fa fa-plus text-white"></i>
    </a>
    <div id="addItemBody" style="display: none;">
        <br class="d-sm-none">
        <h2 class="mb-3" style="margin-top: 100px;">Add a New Item</h2>
        <br>
        <form>
            <div class="form-group">
                <label for="newItemName">Item Name</label>
                <input type="text" class="form-control" id="newItemName" aria-describedby="newItemName" placeholder="Carton of Milk" required>
            </div>
            <div class="form-group">
                <label for="newItemQuantity">Number of Items</label>
                <input type="number" class="form-control" id="newItemQuantity" aria-describedby="newItemQuantity" placeholder="0" required>
            </div>
            <br>
            <span class="text-center">
                <button id="addItemBtn" type="button" class="btn btn-primary float-sm-right"><i class="fa fa-plus mr-2"></i>Add New Item</button>
                <button id="cancelBtn" type="button" class="btn btn-danger float-sm-right mr-sm-2"><i class="fa fa-times mr-2"></i>Cancel New Item</button>
            </span>
        </form>
    </div>
</div>
  </div>


</body>

</html>