<link rel="stylesheet" type="text/css" media="screen" href="/styles/shopping.css">
<link rel="stylesheet" type="text/css" media="screen" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="/js/shopping.js"></script>
<div class="navbar bg-black w-100 fixed-top" style="z-index: 999;">
    <a class="navbar-brand mx-auto mx-sm-0" href="../../" ><img src="/images/banner.png" alt="Digital Fridge" height="50px"/></a>
    <span class="mx-auto mx-sm-0 p-0">
        <button type="button" id="goToInventory" class="btn btn-sm btn-primary mr-2" data-id="{{userid}}"><i class="fa fa-list mr-2"></i>Go to Inventory</button>
        <button type="button" id="logOutBtn" class="btn btn-sm btn-danger"><i class="fa fa-sign-out mr-2"></i>Log Out</button>
    </span>
</div>
<br>
<div class="container mb-5" style="margin-top: 100px">
    <h2 class="text-white mt-5 mb-3">Shopping List for {{username}}</h2>
    <br>
    <table id="ingredientTable" class="bg-white overflow-hidden rounded table table-bordered table-responsive-xs">
        <thead class="bg-light">
            <th scope="col" style="text-align: center; width: 1em;"><i class="fa fa-check"></i></th>
            {{!-- <th scope="col" style="text-align: center; width: 1em;">ID</th> --}}
            <th scope="col" style="text-align: center;">Item Name</th>
            <th scope="col" style="text-align: center; width: 15%;">Quantity Needed</th>
            <th scope="col" style="text-align: center; width: 1em;"><i class="fa fa-times"></i></th>
        </thead>
        <tbody>
            {{#each ingredients}}
            <tr data-id="{{this.id}}">
                <td scope="row" style="text-align: center;"><input type="checkbox" data-userid="{{../userid}}" data-itemid="{{this.id}}" aria-label="Checkbox for Inventory Item" class="shoppingCheck"></td>
                {{!-- <td scope="row" style="text-align: center;">{{this.id}}</td> --}}
                <td scope="row" class="item-name">{{this.name}}</td>
                <td scope="row" style="text-align: center;">{{this.quantityNeeded}}</td>
                <td scope="row" style="text-align: center;"><button type="button" class="btn btn-sm btn-danger removeItemBtn" style="text-align: center; line-height: 1;" data-id="{{this.id}}"><i class="fa fa-times"></i></button></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <br>
    <div class="card">
        <div class="card-header">Send List via SMS</div>
        <div class="card-body">
            <form id="sms-form" data-userid="{{userid}}">
                <div class="form-group">
                    <label for="smsNum">Phone Number</label>
                    <input type="text" class="form-control" id="recipient-number" placeholder="555-555-5555" required pattern="^\(?[0-9]{3}\)?.?[0-9]{3}.?[0-9]{4}$"/>
                </div>
                <button type="submit" class="btn btn-primary" id="sendSMS">Send List via SMS</button>
            </form>
        </div>
    </div>
</div>
<div id="addItem">
    <a id="addItemLink">
        <i class="fa fa-plus text-white"></i>
    </a>
    <div id="addItemBody" style="display: none;">
        <br class="d-sm-none">
        <h2 class="mb-3" style="margin-top: 100px;">Add a New Item</h2>
        <br>
        <form>
            <div class="form-group">
                <label for="newItemName">Item Name</label>
                <input type="text" class="form-control" id="newItemName" aria-describedby="newItemName" placeholder="Carton of Milk" required>
            </div>
            <div class="form-group">
                <label for="newItemQuantity">Number of Items</label>
                <input type="number" class="form-control" id="newItemQuantity" aria-describedby="newItemQuantity" placeholder="0" required>
            </div>
            <br>
            <span class="text-center">
                <button id="addItemBtn" type="button" class="btn btn-primary float-sm-right"><i class="fa fa-plus mr-2"></i>Add New Item</button>
                <button id="cancelBtn" type="button" class="btn btn-danger float-sm-right mr-sm-2"><i class="fa fa-times mr-2"></i>Cancel New Item</button>
            </span>
        </form>
    </div>
</div>