<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Digital Fridge | Food Inventory Web Application</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
<link rel="stylesheet" type="text/css" media="screen" href="/styles/usershop.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/d3js/5.7.0/d3.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand">
          <h2><span>Digital </span>Fridge</h2>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#services">SERVICES</a></li>
          <li><a href="#portfolio">PORTFOLIO</a></li>
          <li><a href="#pricing">PRICING</a></li>
          <li><a href="#contact">CONTACT</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- start header -->
  <header>
    <div class="container">

      <div class="jumbotronn">

        <h1 class="text-center">
          <h1>shopping list</h1>
          <br>
          <hr>
          <section class="callaction"></section>
          <div class="container">
            <div class="row">
              <div class="col-md-6 offset-md-3">
                <ul class="list-group todo-list">
                  <li class="list-group-item new-item">
                    <form id="todo-form">
                      <div class="container">
                        <div class="row">
                          <div class="col-10">
                            <input class="new.item-input form-control" placeholder="Add a todo" type="text" />
                          </div>
                          <div class="col-2">
                            <button method="POST" action="/add/" class="button-size"></button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </li>
                  <span class="todo-container">
                  </span>
                  <center>
                    <div class="col-lg-6 col-lg-offset-3">
                      <button type=".todo" class="btn btn-success">Create Items!</button>
                    </div>
                  </center>
                </ul>
              </div>
            </div>
          </div>
      </div>
      </section>
      <!-- Custom Script -->
      <!-- Second Header Section -->




      <!-- All Items Section -->
      <section id="content">
        <!-- For each post, create a div col-lg-3 -->
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="row">
                {{#each posts}}
                {{#unless capacity}}
                <div class="col-lg-3" id="postBox">
                  <center>
                    <h6>Item name: {{name}}</h6>
                  </center>
                  <center>
                    <h6>Item/Items: {{quantityNeeded}}</h6>
                  </center>
                  <p>
                    <form action="api/1/ingredients" method="POST" class="join">
                      <input type="hidden" name="name" value="{{this.name}}">
                      <input type="hidden" name="quantityNeeded" value="{{this.quantityNeeded}}">
                      </div>
                    </form>
                  </p>
                  <div class="box">
                    <div class="box-gray aligncenter">
                      <div class="icon">
                        {{body}}
                        {{number}}
                      </div>
                    </div>
                  </div>
                </div>
                {{/unless}}
                {{/each}}
              </div>
            </div>
          </div>
        </div>
      </section>

      </footer>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script src="/public/js/custom.js"></script>
</body>

</html>